Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 450px;
  padding: 40px 20px;
  margin: 0 auto;
}

label {
  font-size: 20px;
}

.input {
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  border: none;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
}

.textarea {
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  border: none;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
  resize: none;
}

button {
  font-size: 20px;
  padding: 8px;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  border: none;
  border: 1px solid;
  border-radius: 5px;
}

button:disabled {
  cursor: default;
}

.error {
  color: red;
}
